
@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>

<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at nisi
    pretium, sodales tellus quis, porttitor libero. Phasellus fringilla
    scelerisque luctus. Aenean nisl arcu, egestas ac leo vel, commodo fermentum
    erat. Cras faucibus ante vel enim fermentum porta. Nunc mauris erat, posuere
    at volutpat ullamcorper, blandit vel sapien. Nulla euismod fringilla nunc in
    tincidunt. Proin viverra, libero vitae porta rhoncus, nisi est facilisis erat,
    id hendrerit nibh erat ac ex. Donec lorem magna, tempor mattis libero a,
    aliquam ultricies dolor. Ut quis ipsum risus. Integer fringilla dui sit amet
    arcu volutpat suscipit. Vestibulum semper nec turpis in commodo.
    <br /><br />
    Quisque in finibus augue, sed vehicula urna. Curabitur rhoncus, quam eget
    volutpat lacinia, arcu magna iaculis ligula, nec mollis nisl mauris in tortor.
    Donec auctor iaculis lorem, ac pellentesque orci eleifend non. Praesent
    vulputate tellus libero, nec euismod tortor fringilla sed. Aenean tempor
    scelerisque fringilla. Proin tincidunt semper risus, quis finibus magna
    facilisis at. Curabitur et malesuada enim. Nulla placerat elementum quam,
    aliquam sollicitudin lacus elementum pretium. Vivamus eget diam massa.
    <br /><br />
    All Rights Reserved...
</p>
